<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spaceflux</title>
    <link
    rel="stylesheet"
    href="https://unpkg.com/franken-wc@0.1.0/dist/css/zinc.min.css"
  />
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit-icons.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/d-din?styles=37959,37958,37957,37961,37964,37963,37960,37962" rel="stylesheet">
                
</head>
<body>
    <div class="uk-grid uk-height-viewport uk-grid-cols-2">
        <!-- PARTIE GAUCHE -->
        <div class="uk-width-1-2@m uk-background-primary">
            <div class="flex items-center text-white uk-text-center"></div>
      </div>

        <!-- PARTIE DROITE -->
        <div class="uk-width-1-2@m">
            <div class="uk-flex uk-flex-right">
                <button class="uk-button uk-button-ghost uk-margin-medium-right uk-margin-top ">Login</button>
            </div>
            <div class="uk-flex uk-flex-middle uk-flex-column uk-flex-center height-90">
                <form action=""  class="uk-width-2-3@m">
                    <h1 class="text-xl uk-margin-bottom uk-text-center">Create an account</h1>
                    <p class="uk-text-center uk-margin-medium-bottom uk-text-muted uk-text-large">Enter your email below to create your account</p>                        
                    <input type="email" name="email" id="email" required class="uk-input uk-width-1-1 uk-margin-bottom" placeholder="name@example.com" aria-label="Input">
                    <button class="uk-button uk-button-primary uk-width-1-1">Sign in with email</button>
                </form>
            </div>
        </div>
    </div>

</body>
   
   

    
