<!-- {% extends "pages/home/index.html" %}

{% block slider_item_last_added %}
    {%for movie in datas.movies %}
        <div class="uk-cover-container uk-height-large">
            <a href="">
                <img class="home-movies-news-slider" src={{movie.picture}} alt="{{movie.title}} picture">
            </a>
            <div class="uk-position-bottom-left uk-card uk-card-body uk-margin-medium-left uk-margin-medium-bottom uk-width-1-3 uk-height-1-2 uk-background-muted">
                <div class="uk-card-header">
                    <h2 class="uk-card-title">{{movie.title}}</h2>
                </div>
                <div class="uk-card-body uk-visible@s">
                    <p class="uk-margin uk-text-truncate">{{movie.resume}}</p>
                </div>
                <div class="uk-card-footer uk-flex uk-child-with-1-2">
                    <button class="uk-button uk-button-primary uk-margin-small-right uk-width-1-2">Watch</button>
                    <button class="uk-button uk-button-default uk-width-1-2">
                        <span class="uk-hidden@l">
                            <span uk-icon="icon: plus; ratio: 0.5"></span> List
                        </span>
                        <span class="uk-visible@l">Add to list</span></button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{%block horror_category%}

    {% for horror_movie in datas.horror_movies %}
        <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <a href="">
                    <img class="home-movie-category-slider"  src={{horror_movie.picture}} alt="{{horror_movie.title}} picture" height="400px">
                </a>
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">{{horror_movie.title}}</h3>
                <p>
                    {{horror_movie.resume}}
                </p>
              </div>
            </div>
          </div>
    {% endfor %}
{%endblock%}

{%block scifi_category%}

    {% for scifi_movie in datas.scifi_movies %}
        <div>
            <a href="">
                <img class="home-movie-category-slider" src={{scifi_movie.picture}} alt="{{scifi_movie.title}} picture" height="400px">
            </a>
        </div>
    {% endfor %}
{%endblock%} -->