{% extends "base.html" %}

{% block content %}
    <h2 class="uk-text-large uk-text-bold">Recently added</h2>
    <!-- SLIDER -->
    <div uk-slider="">
        <div class="uk-position-relative ">
            <div class="uk-slider-container ">
                <div class=" uk-slider-items uk-child-width-1-2">
                     {% block slider_movie_card %}
                     {%endblock %}
                    <!-- <a href="">
                        <img src="https://via.placeholder.com/800x400" alt="">
                    </a> -->
                </div>
            </div>
            <!-- TODO: FIX navigation -->
            <a class="uk-position-center-left" href uk-slider-item="previous"><span uk-icon='icon: chevron-left' ></a>
            <a class="uk-position-center-right" href uk-slider-item="next"><span uk-icon='icon: chevron-right' ></a>

        </div>
        
    </div>
    <!-- END SLIDER -->

    <h2 class="uk-text-large uk-text-bold uk-margin-medium-top">Horror</h2>
    {%block test%}
    {%endblock%}
{% endblock %}