{% extends "base.html" %}

{%block content %}
<div uk-slider="">
    <div class="uk-position-relative ">
        <div class="uk-slider-container ">
            <div class=" uk-slider-items uk-grid">
                <div>
                    <button class="uk-button uk-button-default">
                    Humans In Space
                    </button>
                </div>
                <div>
                    <button class="uk-button uk-button-default">
                    Earth & Climate
                    </button> 
                </div>
                <div>
                    <button class="uk-button uk-button-default">
                    Solar System
                    </button>
                </div>
                <div>
                    <button class="uk-button uk-button-default">
                    The Universe
                    </button>
                </div>
                <div>
                    <button class="uk-button uk-button-default">
                    Aeronautics
                    </button>
                </div>
                <div>
                    <button class="uk-button uk-button-default">
                    Technology
                    </button>
                </div>
                <div>
                    <button class="uk-button uk-button-default">
                    News & Events
                    </button>
                </div>
                <div>
                    <button class="uk-button uk-button-default">
                    Kids
                    </button>
                </div>
                <div>
                    <button class="uk-button uk-button-default">
                    Originals
                    </button>
                </div>
                <div>
                    <button class="uk-button uk-button-default">
                    Documentaries
                    </button>
                </div>
                <div>
                    <button class="uk-button uk-button-default">
                    History
                    </button> 
                </div>
            </div>
        </div>
        <!-- TODO: FIX navigation -->
        <a class="uk-position-center-left" href uk-slider-item="previous"><span uk-icon='icon: chevron-left' ></a>
        <a class="uk-position-center-right" href uk-slider-item="next"><span uk-icon='icon: chevron-right' ></a>

    </div>
</div>





{%endblock%}