<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflex</title>
    <link
    rel="stylesheet"
    href="https://unpkg.com/franken-wc@0.1.0/dist/css/zinc.min.css"
  />
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit-icons.min.js"></script>
    
</head>

<body>
  <!-- NAVBAR -->
  <div class="uk-navbar-container uk-margin-small-left uk-margin-small-right uk-margin-small-bottom" uk-navbar uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <div class="uk-navbar-left ">
      <a href="#" class="uk-navbar-item uk-logo text-red-800" aria-label="Back to Home">NETFLEX</a>
    </div>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">TV Shows</a>
        </li>
        <li>
          <a href="">Movies</a>
        </li>
        <li>
          <a href="">My List</a>
        </li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item" >
         <form class="uk-search" aria-label="Search">
             <input class="uk-search-input uk-width-medium" type="search" placeholder="" aria-label=""/>
             <span uk-search-icon class="uk-search-icon-flip"></span>
         </form>
      </div>
      <div class="uk-navbar-item">
         <span uk-icon="bell"></span>
      </div>
      <div class="uk-navbar-item">
           <a href="">My Account <span uk-navbar-parent-icon ></span></a>
           <div class="uk-navbar-dropdown">…</div>
      </div>
    </div>
  </div>
  
  {% block content %}{% endblock %}


  

    

  <!-- #TODO: add footer -->
    
</body>

</html>