{% extends "pages/home/index.html" %}

{% block slider_movie_card %}
    {%for movie in movies %}
        <div class="uk-cover-container uk-height-large">
            <a href="">
                <img class="" src={{movie.picture}} alt="{{movie.title}} picture" height="400">
            </a>
            <div class="uk-position-bottom-left uk-card uk-card-body uk-margin-medium-left uk-margin-medium-bottom uk-width-1-3 uk-height-1-2 uk-background-muted">
                <div class="uk-card-header">
                    <h2 class="uk-card-title">{{movie.title}}</h2>
                </div>
                <div class="uk-card-body uk-visible@s">
                    <p class="uk-margin uk-text-truncate">{{movie.resume}}</p>
                </div>
                <div class="uk-card-footer uk-flex">
                    <button class="uk-button uk-button-primary">Watch</button>
                    <button class="uk-button uk-button-default">Add to my list</button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}